@font-face {
    font-family: 'iran-sans'; /* this value can be anything you wish - it gets used in the class definition below */
    src: url('./fonts/IRANSansWeb(FaNum).woff2'); /* add the file path to your font here */
}

@font-face {
    font-family: 'iran-sans-bold';
    src: url('./fonts/IRANSansWeb(FaNum)_Bold.woff2');
    font-weight: bold!important;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: iran-sans, serif, sans-serif !important;
}

.font-bold {
    font-family: iran-sans-bold, serif, sans-serif !important;
}

.general-table {
    color: black!important;
    padding: 1px!important;
    font-size: 14px!important;
}

@media print {
}

@page {
    margin: 4px;
}
